.styles-reset body {
  margin: auto;
  font-size: .8rem;
}

.styles-reset p {
  margin: 0;
}

.styles-reset a {
  color: unset;
  text-decoration: unset;
}

.styles-reset a:hover {
  text-decoration: underline;
}

.styles-reset ul, .styles-reset ol {
  padding-inline-start: 1.5rem;
}

@media print {
 .styles-reset body {
   font-family: serif;
 }

  .main-frame {
    margin: 0 !important;
  }
}
.padding-md {
  padding: 0 15px;
}

.padding-md-right {
  padding-right: 15px;
}

.img-as-circle {
  width: 82px;
  border-radius: 50%;
}

.flex-container-vertical{
  display: flex;
  width: initial;
  flex-direction: column;
}

.flex-container-horizontal{
  display: flex;
  width: initial;
  flex-direction: row;
  justify-content: space-between;
}
p.flex-container-horizontal{
  align-items: center;
}

.flex-vertical-center {
  align-items:center;
}

.flex-container-vertical > .item, .flex-container-horizontal > .item {
  flex: 1
}

body {
  text-align: center;
}

.main-frame {
  width: 1000px;
  height: 1414px;
  overflow: hidden;
  display: inline-flex;
  text-align: initial;
  margin: 7px 0;
}


.title {
  font-size: 1.1em;
}

.main-content h1.title {
  font-size: 1.35rem;
}

.main-content h2.title {
  font-size: 1.25rem;
  font-weight: normal;
  margin-block-start: .2em;
  padding-right: .25em;

  display: inline-block;
}

.main-content h2.title + p {
  display: inline;
}


.main-content {
  font-size: 1rem;
  line-height: 1.4rem;

}
.main-content hr {
  margin-top: .6rem;
}

h1, h2, h3, h4, h5, h6 {
  margin-block: .2em;
}

.main-content p,
.main-content > ul,
.main-content > ul li,
.main-content > ul ul {
  margin-block-start: 0em;
  margin-block-end: .4em;
}

table {
  width: 100%;
}

table tr:nth-child(even) {
  background-color: #49494929;
}

.years {
  width: 12px;
  text-align: right;
}

.to-right {
  float: right;
}
.to-left {
  float: left;
}
.icono-redes{
  font-size: 12px;
  margin-right: 8px;
}